<div class="skillsForm">
  <%= label_tag 'scheme_name' %>
  <%= select_tag 'scheme_name[]',options_for_select(DateWiseNav.all.pluck(:scheme_name).uniq) %>

  <%= form.label :date %>
  <%= date_field_tag 'date[]' %>

  <%= label_tag 'amount' %>
  <%= text_field_tag 'amount[]' %>
</div>