<%= form_for :nav_calculation, url: nav_calculation_index_path,remote: true do |form| %>
  <div id="skillSet">
  	<%= render partial: 'form',locals: {form: form} %>
  </div>
  <a href="javascript:;" id="addNewTag">Add New Tag</a>

  <div class="hide" id="new_skills_form" style="display:none;">
	 <%= render partial: 'form', locals: {form: form} %>
  </div>

  <%= form.submit 'get details'  %>
<% end  %>


<div id='showOutput'>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	  $("#addNewTag").click(function(){
	    $("#skillSet").append($("#new_skills_form").html());
	  });
	});
</script>